{% extends 'baseinicio.html' %}
{% block titulo %} Maestros {% endblock %}
{% block contenido %}

<!-- Modal -->
<div class="card">
    <div class="card-header">
        <H1>Registro de Area del Conocimiento</H1>
    </div>
    <div class="card-body">
        <!-- Boton ventana modal alineado a la derecha -->
        <div class="d-flex align-items-center">
            <button type="button" class="btn btn-primary btn-lg btn-round ms-auto shadow" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">
                <i class="fa fa-user-plus"></i>
                Agregar
            </button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-white">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar datos del área</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Formulario para agregar maestro -->
                        <form id="formMaestro" action="" method="post">
                            <div class="row">
                                <div class="form-row col-md-6 ">
                                    <div class="form-floating form-floating-custom mb-3">
                                        <input type="text" class="form-control" id="codigoarea" name="codigoarea"
                                            placeholder="" required autofocus />
                                        <label for="floatingInput">Codigo del Área</label>
                                    </div>
                                </div>
                                <div class="form-row col-md-6">
                                    <div class="form-floating form-floating-custom mb-3">
                                        <input type="text" class="form-control" id="name" placeholder="" name="name"
                                            required />
                                        <label for="floatingInput">Nombre del área</label>
                                    </div>
                                </div>

                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary btn-round">Guardar</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li style="color: red;">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Registro de Maestros</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="example" class="display table table-striped table-hover ">
                <thead class="table-primary">
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Estado</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for areas in areas %}
                    <tr>
                        <td>{{areas['id']}}</td>
                        <td>{{areas['name']}}</td>
                        <td>
                            <a href="#" data-bs-toggle="tooltip" data-bs-title="Eliminar área del conocimiento"
                                data-bs-placement="bottom" data-bs-custom-class="custom-tooltip"
                                class="btn btn-danger btn-sm" role="button">
                                <i class="fa fa-trash" aria-hidden="true"></i></a>
                            <a href="#" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                data-bs-custom-class="custom-tooltip" data-bs-title="Actualizar área del conocimiento"
                                class="btn btn-primary btn-sm" role="button">
                                <i class="fa fa-pencil-alt"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}