{% extends 'baseinicio.html' %}
{% block titulo %} Carrera {% endblock  %}
{% block contenido %}

<!-- Modal -->
<div class="card">
    <div class="card-header">
        <H1>Registro de Carrera - SIE</H1>
    </div>
    <div class="card-body">
        <!-- Boton ventana modal alineado a la derecha -->
        <div class="d-flex align-items-center">
            <button type="button" class="btn btn-primary btn-round ms-auto shadow" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">
               <i class="bi bi-amd"></i>
                Agregar
            </button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered ">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-white">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar Carrera</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="formMaestro" action="">
                            <div class="row">
                                <div class="form-row col-md-6 ">
                                    <div class="form-floating form-floating-custom mb-3">
                                        <input type="text" class="form-control" id="carrera" name="codigo"
                                            placeholder="" required autofocus />
                                        <label for="floatingInput">Codigo de Carrera</label>
                                    </div>
                                </div>
                                <div class="form-row col-md-6">
                                    <div class="form-floating form-floating-custom mb-3">
                                        <input type="text" class="form-control" id="nombree" name="nombre" placeholder=""
                                            required />
                                        <label for="floatingInput">Nombre de carrera</label>
                                    </div>
                                </div>
                                <div class="form-row col-md-12">
                                    <div class="form-floating form-floating-custom mb-3">
                                        <input type="text" class="form-control" id="nombree" name="descripcion" placeholder=""
                                            required />
                                        <label for="floatingInput">Nombre de carrera</label>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary btn-round">Guardar</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Tabla de listado de carrera-->

<div class="card">
  <div class="card-header">
    <h4 class="card-title">Registro de Maestros</h4>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table id="example" class="display table table-striped table-hover ">
        <thead class="table-primary">
          <tr>
            <th>N°.</th>
            <th>Código</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>N°.</th>
            <th>Código</th>
            <th>Nombres</th>
            <th>Descripción</th>
            <th>Estado</th>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <td>6</td>
            <td>ISI-25</td>
            <td>Juan</td>
            <td>Ramirez</td>
 
            <td>
              <a href="#" class="btn btn-primary btn-sm" role="button">
                <i class=" fa fa-pencil-alt"></i></a>
              <a href="#" class="btn btn-danger btn-sm" role="button">
                <i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock  %}