{% extends 'baseinicio.html' %}

{% block titulo %} Rubrica{% endblock %}

{% block contenido %}

<div class="row g-3">
    <div class="col">
        <input type="text" class="form-control" placeholder="First name" aria-label="First name">
    </div>
    <div class="col">
        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
    </div>
</div>


<div class="row g-3">


    <div class="">
        <form role="form" action="" method="post" class="f1">

            <!--paso 1 -->
            <fieldset>
                <legend>Elementos de la competencia</legend>
                <br>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkDefault" checked>
                        <label class="form-check-label" for="checkDefault">
                            Conceptuales
                        </label>
                    </div>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkChecked">
                    <label class="form-check-label" for="checkChecked">
                        Procedimentales
                    </label>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkChecked">
                        <label class="form-check-label" for="checkChecked">
                            Actitudinal
                        </label>
                    </div>
                </div>
                <fieldset>
                    <legend>Agregar los niveles - Evaluación</legend>
                    <div class="row">
                        <div class="form-row col-md-6 ">
                            <div class="form-floating form-floating-custom mb-3">
                                <input type="text" class="form-control" id="cedulaid" name="cedula" placeholder=""
                                    autofocus />
                                <label for="floatingInput">Cédula</label>
                            </div>
                        </div>
                        <div class="form-row col-md-6 ">
                            <div class="form-floating form-floating-custom mb-3">
                                <input type="text" class="form-control" id="inss" name="inss" placeholder="" required />
                                <label for="floatingInput">Número INSS</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-row col-md-6 ">
                                <div class="form-floating form-floating-custom mb-3">
                                    <input type="text" class="form-control" id="cedulaid" name="cedula" placeholder=""
                                        autofocus />
                                    <label for="floatingInput">Cédula</label>
                                </div>
                            </div>
                            <div class="form-row col-md-6 ">
                                <div class="form-floating form-floating-custom mb-3">
                                    <input type="text" class="form-control" id="inss" name="inss" placeholder=""
                                        required />
                                    <label for="floatingInput">Número INSS</label>
                                </div>
                            </div>


                </fieldset>


                <div class="">

                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </fieldset>
            <!--fin -->

        </form>
    </div>



</div>

{% endblock %}