{% extends 'baseinicio.html' %}

{% block titulo %} Rubrica{% endblock %}

{% block contenido %}

<div class="row g-3">

    <div class="">
        <form role="form" action="" method="post" class="row">
            <!--paso 1 -->
            <fieldset>
                <legend>Elementos de la competencia</legend>
                <br>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkDefault" checked>
                        <label class="form-check-label" for="checkDefault">Conceptuales</label>
                    </div>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkChecked">
                    <label class="form-check-label" for="checkChecked">Procedimentales</label>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkChecked">
                        <label class="form-check-label" for="checkChecked">
                            Actitudinal
                        </label>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Agregar la descripción de niveles - Evaluación</legend>


                
                <div class="form-row col-md-12 ">
                    <div class="form-floating form-floating-custom mb-3">
                        <input type="text" class="form-control" id="logro" name="logro" placeholder="" required autofocus />
                        <label for="floatingInput">Indicador de Logro</label>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="form-floating form-floating-custom">
                            <input type="text" class="form-control" id="nivel5" name="nivel5" placeholder="" required />
                            <label for="floatingInput">Nivel 5</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating form-floating-custom">
                            <input type="text" class="form-control" id="nivel4" name="nivel4" placeholder="" autofocus />
                            <label for="floatingInput">Nivel 4</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating form-floating-custom">
                            <input type="text" class="form-control" id="nivel3" name="nivel3" placeholder="" autofocus />
                            <label for="floatingInput">Nivel 3</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating form-floating-custom">
                            <input type="text" class="form-control" id="nivel2" name="nivel2" placeholder="" autofocus />
                            <label for="floatingInput">Nivel 2</label>
                        </div>
                    </div>
                  </div>

                

                        <div class="col-md-12">

                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
            </fieldset>
            <!--fin -->

        </form>
    </div>



</div>

{% endblock %}