{% extends "baseinicio.html" %}

{% block titulo %}SIE{% endblock %}

{% block contenido %}

<h1>Esta es la pagina principal</h1>
<div class="row">
    <div class="col-md-12 mx-auto">

        <div class="card">
            <div class="card-header">
                <h3>Bienvenido, {{ user.email }}</h3>
            </div>
            <div class="card-body">
                <p>Has iniciado sesión correctamente en nuestra aplicación.</p>
                <div class="table-responsive">
                    <table class="table table-primary">
                        <thead>
                            <tr>
                                <th scope="col">Column 1</th>
                                <th scope="col">Column 2</th>
                                <th scope="col">Column 3</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for areas in areas %}
                            <tr class="">
                                <td scope="row">{{ areas.id }}</td>
                                <td>{{ areas.nombre }}</td>
                            {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>

                <button id="test-alert" class="btn btn-primary">Probar SweetAlert</button>
            </div>
        </div>
    </div>
</div 
{% endblock %}