{% extends 'base.html' %}

{% block titulo %} {% endblock %}

{% block body %}

<div class="container">
  
    <!-- Button trigger modal -->
    <button type="button" class="mt-5 mx-5 btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Agregar Maestro
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
<!--Tabla listado de maestros-->
<table class="table table-striped table-hover mt-3">
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Nombres</th>
            <th>Apelllidos</th>
            <th>Correo Electronico</th>
            <th>Acciones</th>
        </tr>
    </thead>
<tbody>
    <tr>
        <th>1</th>
    </tr>
</tbody>
</table>

</div>
{% endblock %}