{% extends 'base.html' %}

{% block titulo%}Registro de Usuario {% endblock %}

{% block body %}

<section class="bg-light p-3 p-md-4 p-xl-5">
    <div class="container">
        <div class="row vh-100 d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-9 col-lg-4 col-xl-6 col-xxl-5 ">
                <div class="card border border-light-subtle rounded-4 p-4 shadow">
                    <div class="card-body p-3 p-md-4 p-xl-5">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-center mb-3">
                                  <a>
                                    <img src="{{url_for('static', filename='img/logoSIE.png')}}" alt="Logo SiE" width="120"
                                      height="auto" class="img-fluid">
                                  </a>
                                </div>
                                <!-- <h4 class="text-center">Bienvenidos Sistema de Evaluación</h4> -->
                            </div>
                          </div>
                        <form method="" action="">
                            <div class="row gy-2 overflow-hidden">
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="name"
                                            placeholder="Nombre y apellidos" required>
                                        <label for="name" class="form-label">Nombres y apellidos</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" name="cedula" id="cedula"
                                            placeholder="cedula" required>
                                        <label for="cedula" class="form-label">Cédula</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" name="inss" id="inss" placeholder="inss"
                                            required>
                                        <label for="inss" class="form-label">INSS</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="email"
                                            placeholder="Correo Electrónico" required>
                                        <label for="email" class="form-label"> Correo Electrónico</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="password" class="form-control" id="password"
                                            placeholder="Contraseña" required>
                                        <label for="password" class="form-label"> Contraseña</label>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <button type="submit" class="btn btn-outline-primary w-100">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}